body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
}

header{
    background:#4a00e0;
    color:white;
    text-align:center;
    padding:40px;
}

nav{
    background:black;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
}

.card{
    background:#eee;
    padding:15px;
    border-radius:10px;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:15px;
}